* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  position: relative;
}
nav {
  display: flex;
  height: 180px;
}
.nav_icon {
  width: 40%;
  height: 180px;
  margin-left: 150px;
  margin-top: 70px;
  display: flex;
}
.nav_icon h2 {
  width: 123px;
  height: 26px;
  font-size: 40px;
  font-weight: 900;
  display: inline;
}
.nav_icon img {
  display: inline;
  position: absolute;
  top: 80px;
  left: 120px;
}
.nav_list {
  padding: 50px;
  width: 60%;
  background-color: #f94f4f;
}
.nav_list_ul {
  list-style: none;
  display: inline;
  padding-left: 30px;
}
.nav_list_li {
  display: inline;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #fff;
}
.nav_list_li:hover{
  cursor: pointer;
  font-family: Commissioner;
font-size: 16px;
font-weight: 700;
line-height: 32px;
color:  rgba(255, 255, 255, 1);
;
}
.nav_list_btn {
  background-color: #000;
  color: #fff;
  width: 199px;
  height: 64px;
  border: none;
}
.nav_list_li:hover {
  cursor: pointer;
}
.nav_list_btn:hover {
  cursor: pointer;
  background-color: #434356;
}


section {
  display: flex;
  margin-bottom: -800px;
}
.section_text {
   width: 860px;
  height: 428px; 
  display: inline;
  margin-left: 150px;
}
.section_text span {
   width: 730px;
  height: 273px; 
  font-size: 80px;
  font-weight: 800;
  text-align: left;
}
.section_text p {
   width: 540px;
  height: 96px; 
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 40px;
}
.section_text button {
   width: 177px;
  height: 72px; 
  color: #fff;
  background-color: #f94f4f;
  margin-top: 40px;
  border: none;
}
.section_img {
  display: inline;
  object-fit: cover;
}
.section_img img {
  width: 805px;
  height: 800px;
  object-fit: cover;
  position: ;
  background: #f0f0f0;
  box-shadow: rgba(240, 240, 240, 1);
}
.section_img_mask{
  position: absolute;
  top: 180px;
  left: 700px;
}

.container {
  display: flex;

}
.container_img {
  display: inline;
  z-index: -3;
}
.container_img img {
  width: 735px;
  height: 984px;
  object-fit: none;
}
.container_text {
  display: inline;
  background-color: rgba(25, 25, 33, 1);
  width: 900px;
  z-index: -3;
}
.container_text_text {
  width: 668px;
  height: 384px;
  margin-left: 110px;
  margin-top: 130px;
}
.container_text svg {
  width: 135px;
  position: absolute;
  height: 61px;
  top: 1122px;
  left: 668px;
  padding: 0.41px 0.55px 0.59px 0.45px;
  color: rgba(249, 79, 79, 1);
}
.container_text h2 {
  width: 410px;
  height: 133px;
  color: #fff;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
}
.container_text p {
  margin-top: 30px;
  color: #fff;
  width: 281px;
  height: 125px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
._container_underline_text {
  width: 124px;
  height: 32px;
  color: #f94f4f;
  line-height: 32px;
  text-decoration: underline;
}
._container_underline_text:hover{
  cursor: pointer;
}
.container_red_text{
  color: rgba(249, 79, 79, 1);
}




.container_brand {
  display: flex;
}
.container_brand_text {
  width: 540px;
  height: 858px;
  display: inline;
  margin-top: 130px;
  margin-left: 250px;
  z-index: 1;
}
.container_brand_text p {
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.container_brand_list {
  width: 895px;
  height: 1100px;
  top: 1860px;
  left: 620px;
  z-index: -1;
  background-color: #f94f4f;
  display: inline;
  position: absolute;
}

.container_brand_list123 {
  width: 355px;
  height: 159px;
  margin-top: 150px;
  padding-top: 30px;
  margin-left: 250px;
}
.brand_list_title {
  width: 445px;
  height: 32px;
  font-size: 20px;
  font-weight: 800;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}

.brand_list_text {
  color: rgba(255, 255, 255, 1);
  width: 445px;
  height: 96px;
  margin-top: 20px;
  width: 445px;
  height: 96px;
}

._brand_list_number {
  width: 101px;
  height: 88px;
  opacity: 25%;
  font-size: 80px;
  font-weight: 800;
  line-height: 88px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.container_brand_list1 span {
  position: absolute;
  top: 145px;
  left: 200px;
}
.container_brand_list2 span {
  position: absolute;
  top: 449px;
  left: 200px;
}
.container_brand_list3 span {
  position: absolute;
  top: 755px;
  left: 200px;
}


.container_naming {
  display: flex;
  width: 100%;
  margin-bottom: 900px;
}
.container_naming_text {
  width: 60%;
  height: 528px;
  background-color: rgba(25, 25, 33, 1);
  padding-top: 120px;
  display: inline;
  position: absolute;
  right: 700px;
}
.container_naming_text svg {
  margin-left: 230px;
  margin-top: 50px;
}
.container_naming_text svg:hover {
  cursor: pointer;
  border: 2px solid;
  color: rgba(255, 147, 147, 1);
}
.container_naming_text p {
  width: 445px;
  height: 133px;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  margin: auto;
  z-index: 1;
  color: rgba(255, 255, 255, 1);
}

.container_naming_img {
  display: inline;
  width: 40%;
  object-fit: cover;
  position: absolute;
  left: 550px;
  z-index: -2;
}
.container_naming_img img {
  height: 788px;
}
.container_naming_img_text p{
  width: 216px;
height: 64px;
top: 3658px;
left: 1170px;
padding: 0px 0px 0px 1px;
gap: 0px;
opacity: 0px;
color: #fff;
position: absolute;
font-family: Commissioner;
font-size: 20px;
font-weight: 800;
line-height: 32px;
text-align: right;


}
.container_naming_img_text span{
  width: 104px;
height: 32px;
top: 3692px;
left: 1170px;
gap: 0px;
position: absolute;
font-size: 18px;
font-weight: 400;
line-height: 32px;
text-align: right;
color: #fff;

}
.container_naming_icon svg {
  width: 134px;
  height: 60px;
  position: absolute;
  top: 3108px;
  left: 740px;
  color: red;
}

.footer{
display: flex;
}
.footer_icon svg{

}
.footer_text{
 display: inline;
 width: 635px;
height: 133px;
top: 3710px;
left: 165px;
gap: 0px;
opacity: 0px;
font-family: Commissioner;
font-size: 56px;
font-weight: 800;
line-height: 64px;
text-align: left;
color: rgba(0, 0, 0, 1);
margin-left: 200px;
}
.footer_btn{
  width: 199px;
  display: inline;
  height: 64px;
  background-color: rgba(249, 79, 79, 1);
  font-size: 16px;
  font-weight: 800;
  line-height: 19.57px;
  color: rgba(255, 255, 255, 1);
  border: none;
  text-align: center;
  margin-left: 170px;
}

.footer_btn:hover {
  cursor: pointer;
  background-color: rgba(255, 147, 147, 1);
}
/* .mask{
  position: absolute;

} */